%ul#organization-project-list
  - organization.participates_in_projects.each do |project|
    %li
      .organization-project-header
        .organization-project-name
          %div
            Project name
          %div
            = link_to resource_path_from_uri(project.uri) do
              = project.label

      .organization-project-grant.organization-grant-details
        = render 'application/grant_summary_stack', cost: project.offer_cost_sum_for_organization(organization), max_cost: organization.offer_cost_sum, grant: project.offer_grant_sum_for_organization(organization), payments: project.payments_to_date_sum_for_organization(organization)
