<div id='home-map'>
  
</div>

<script>
  $(function() {
    
    var map = L.mapbox.map('home-map', "swirrl.map-v2ypw352", {
      scrollWheelZoom: false,
      zoom: 6,
      center: [54.378958,2.109375]
    });

  });

</script>