- @active_tab = "About"

- content_for :header do
  .contents
    %h1
      About The Data

:markdown
  ## The Technology Strategy Board

  The Technology Strategy Board is the UK's innovation agency. Its role is to stimulate innovation, working with business and other partners, in order to accelerate economic growth. It has been established by the Government and operates at arm's length as a business-led executive non-departmental public body (NDPB). It is sponsored and funded by the Department for Business, Innovation and Skills (BIS).

  The vision of the Technology Strategy Board is for the UK to be a global leader in innovation and a magnet for technology-intensive companies, where new technology is applied rapidly and effectively to create wealth.

  The primary funding of the Technology Strategy Board is from the Government, through the Department for Business, Innovation and Skills. The budget available for the organisation's work in the year 2013/14 is £440m.

  It operates very closely with other organisations involved in innovation and research, combining and focusing resources, so activities are often jointly funded by research councils, other government departments, and the devolved administrations of Scotland, Wales and Northern Ireland.

  Funding of innovation projects is usually matched by the businesses involved. Taking into account partner and business contributions, in its first five years the Technology Strategy Board has enabled around £2.5bn of investment in innovation. Funding is used for a wide range of products or tools including Knowledge Transfer Partnerships, Knowledge Transfer Networks, Collaborative Research and Development, Smart,  Innovation Vouchers and the new network of Catapult centres. It also champions SBRI, the Small Business Research Initiative.

  Funding is provided through competitions or contracts with resulting approved projects involving one or more participants from academic and or  business sectors. Payments are made up to the offered grant in arrears against agreed claims.  Projects vary in size and can take from a few months to several years.

  If you have comments on the site, or suggestions on how the data publishing process could be improved, please [get in touch](mailto:Nic.Jefferis@tsb.gov.uk).