- content_for :home_header do
  .container
    #home-header-title
      %h1
        Explore projects funded by the Technology Strategy Board

    #home-header-actions
      #home-header-search
        = form_tag '/projects', method: 'get' do
          = text_field_tag :search_string, nil, :placeholder => 'Enter a project search term...', :autocomplete => :off
          = submit_tag 'Go'

        %p.help
          Try searching for projects, organisations or technologies.


      #home-header-browse
        %a{ href: '/projects' } Browse the data

.container
  #home-main

    #home-intro
      :markdown
        The Technology Strategy Board funds innovative projects to invest in the growth of businesses, technologies and sectors.

        This site aims to provide greater understanding of which projects, businesses, regions and sectors receive grants.

        All the data that underpins this site is available [for download](/dumps/#{CsvDump.latest.basename}) (15MB CSV) so that other people can present or analyse it in other ways.

        This is an alpha site. Please [send us feedback](mailto:Nic.Jefferis@tsb.gov.uk) about how the site could be improved to make it more useful to you.

    #home-panels
      .home-panel
        :markdown
          ### About the Data

          The projects covered on this site date between 2003 and the present day, and are updated each month.

          [Read More &raquo;](/about)

      .home-panel
        :markdown
          ### Developers

          This is a linked data site: each project and organisation has its own page and its own URL. You can access CSV, JSON and Atom feeds of new projects from the [search page](/search) and can access data about projects and organisations in JSON and RDF formats.

          [Explore the Linked Data &raquo;](/data)