!!! 5
%html
  %head
  %body{ style: 'margin: 0;' }
    %iframe{ id: 'visualisation', src: "http://theodi.github.io/tsb-project-data-viz/13_bigviz/embed.html?static=true", width: '1170px', height: '487px', style: 'border: 0;', scrolling:'no' }