// advanced LD details
main {
  footer.advanced {
    a, a:hover, a:visited {
      color: $data-accent-color;
    }

    margin-top:20px;
    background-color: $gray-lighter;
    padding-top: 5px;
    padding-bottom: 5px;

    .minimal {
      @include make-row();
      font-size: 14px;

      div.formats {
        @include make-md-column(6);
        span {
          float:left;
          padding-right: 5px
        }
        ul.formats {
          @extend .list-inline;
          margin-bottom:0;
        }
      }

      .reveal {
        @include make-md-column(6);
        a, a:hover, a:visited {
          float:right;
          color:black;
          text-decoration:none;
        }
      }
    }

    .full {
      display: none;
      padding-top: 10px;
      padding-bottom: 20px;

      .intro {
        @include make-row();

        .primary {
          @include make-md-column(8);
        }

        .secondary {
          @include make-md-column(3);
          @include make-md-column-offset(1);

          a.sparql-button {
            margin-top: 20px;
          }
        }
      }

      h3 {
        font-weight: normal;
        color: #888;
        font-size: 14px;
        margin-bottom: 0;
        // text-transform: uppercase;
      }

      table {
        margin-top:20px;
        font-size:14px;
        margin-bottom:10px;
        width: 100%;

        thead {
          color: #888;
          font-weight: normal;
          font-size: 14px;
          text-transform: uppercase;

          tr, tr:last-child {
            td {
              &:first-child {
                border-right: none;
              }
            }
            border-bottom: 2px solid #fff;
          }

        }
        tr {
          &:nth-child(even) {
            background-color: #f5f5f5;
          }

          &:last-child {
            border-bottom:0;
          }
          th, td {

            @include hardwrap();
            padding: 5px 10px;
            font-weight:normal;

            &:first-child {
              border-right: 2px solid white;
            }

            &:last-child {
              @include constrain();
              border-right:none;
            }
          }
        }
      }
    }
  }
}