// advanced LD details
main {

  footer.advanced {
    a, a:hover, a:visited {
      color: $data-accent-color;
    }

    margin-top:20px;
    background-color: $gray-lighter;
    padding-top: 5px;
    padding-bottom: 3px;

    .minimal {
      @include make-row();
      font-size: 14px;

      div.formats {
        @include make-md-column(6);
        span {
          float:left;
          padding-right: 5px
        }
        ul.formats {
          @extend .list-inline;
          margin-bottom:0;
        }
      }

      .reveal {
        @include make-md-column(6);
        a, a:hover, a:visited {
          float:right;
          color:black;
          text-decoration:none;
        }
      }
    }

    .full {
      display: none;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .always-expand {
      .minimal {
        .reveal {
          display:none;
        }
      }
      .full {
        display:block;
      }
    }
  }
}