@charset "UTF-8";

@import "jquery-ui-lightness/jquery-ui-1.10.3.custom.scss";

// override some bootstrap defaults
$icon-font-path: "/assets/bootstrap/";
$navbar-height: 70px;
$gray-even-lighter:  lighten(#000, 97%);

@import "bootstrap/bootstrap"; // bootstrap3 from pmd

@import "publish_my_data/data_grid";
@import "slick_grid/slick_grid";
@import "slick_grid/slick_grid_default_theme";

// this-app specific
@import "variables";
@import "mixins";
@import "global";
@import "global-header";
@import "global-footer";

@import "main-header"; // nav inside main element
@import "main-nav"; // header inside main element

@import "advanced-footer";
@import "advanced-resource-details";

// pages
@import "home-page";
@import "projects-page";
@import "project-page";
@import "organizations-page";
@import "linked-data-common";
@import "data-page";
@import "error-page";
@import "sparql-page";

@import "resources-page";
@import "concept-page";
@import "region-page";
@import "resource-page";

@import "ie";
