/* element styling */
html * {
  border-radius: 0 !important
}

html, body {
  overflow-x: hidden;
  height: 100%;
  font-size: 18px;
}

h1, h2, h3 {
  //font-weight: lighter;
}

.colouredbox {
  div {
    padding: 1px 15px 15px 15px ; background: #eee;
  }

  @media (max-width: 1199px) {
    div  {
      padding:0;
    }
    padding: 1px 15px;
    background: #eee;
  }

}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;       /* negative indent by footer height */
  padding: 0 0 60px;        /* pad bottom by footer height */
}

footer  {   height: 60px; }

a, a:hover, a:visited {
  color: $accent-color;
}

main.advanced {
  div.container {
    a, a:hover, a:visited {
      color: $data-accent-color;
    }
  }
}


