#wrap > header {
  #header {
    padding: 8px 0 10px 0;

    background-color: $global-header-bg-color;
    color: $global-header-color;

    &.home {
      background-color: #222; // To match viz
    }

    .header-container {
      @extend .container;

      .header-row {
        @include make-row();

        #masthead {
          float:left; padding-left:15px;
        }

        form * { border:0; }

        form {
          float:left;
          padding: 8px 15px 0 15px;

          @media (min-width: 660px) {
            float: right !important;
          }

          button {
            @include tsb-bootstrap-btn(#fff, $search-color);
            padding-top:5px;
            padding-bottom:5px;
          }

          .form-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;

            input[type="text"] {
              @extend .form-control;
              @include border-radius(0);
              width: 180px;
              float:right;
              overflow: hidden;
              border:0;
              outline:0;
              &:active {
                border:0;
                outline:0;
              }
            }
          }

        }
      }
    }
  }
}
