/* element styling */
html * {
  border-radius: 0 !important
}

html, body {
  overflow-x: hidden;
//  height: 100%;
  font-size: 18px;
  background-color:#1b1b1b;
}

h1, h2, h3 {
  //font-weight: lighter;
}

select {
  border: 1px solid #888;
  font-size: 14px;
}

.colouredbox {
  > div {
    padding: 1px 15px 15px 15px;
  }

  @media (max-width: 1199px) {
    > div  {
      padding:0 !important;
    }
    padding: 1px 15px !important;
  }
}

.colouredrow  { /* slightly off grid, but close enough to be worth rewriting the whole grid */
  @media (min-width: 1200px) {
    margin-left:0px !important;
    margin-right:0px !important;
  }
}

#wrap {
  background-color:white;
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  // margin: 0 auto -260px;       /* negative indent by footer height */
  // padding: 0 0 260px;        /* pad bottom by footer height */
}

main > .container {
  padding-bottom:40px;
}

body > footer {   height: 260px; }

a, a:hover, a:visited {
  color: $accent-color;
}

body.advanced {

  div.container {
    a, a:hover, a:visited {
      color: $data-accent-color;
    }
  }
}


