article#dataset, article#ontology, article#concept-scheme {

  & > section.metadata {
    @include make-row();

    background: #eee;

    h3 {
      font-weight:normal;
      color: #888;
      font-size: 16px;
      margin-bottom:0;
    }

    .primary {
      @include make-md-column(8);
    }

    .secondary {
      @include make-md-column(4);
    }
  }

  ul.tab-links {
    @extend .nav;
    @extend .nav-tabs;
  }
}

code.uri {
  @include hardwrap();
  font-size:16px;
  color: #333;
  display:block;
  background: none;
  padding:0;
  white-space:normal;
}

a.sparql-button {
  @include tsb-bootstrap-btn(#fff, $data-accent-color);
  span {
    font-weight:normal;
  }
  color: #fff !important;
}