body.advanced #titlebar {
  .primary {
    @include make-md-column(8);
  }
  .secondary {
    @extend .hidden-xs;
    @extend .hidden-sm;
    @include make-md-column(4);

    a.dataset-download-btn {
      float:right;
      width: 263px;
      margin-top:7px;
      @include tsb-bootstrap-btn($data-accent-color, #fff); // reversed
      span { float:left; margin-top:4px; margin-right:10px; font-size:26px; }
      .content {
        text-align:left;
        float:left;
        .format {
          font-size:12px;
          font-weight:normal;
        }
      }
    }
  }
}

article#dataset, article#ontology, article#concept-scheme {
  section.metadata {

    @include make-row();
  //  @extend .colouredrow;
    background: #eee;

    h3 {
      font-weight:normal;
      color: #888;
      font-size: 16px;
      margin-bottom:0;
    }

    .primary {
      @include make-md-column(8);
    }

    .secondary {
      @include make-md-column(4);

      a {
        @include hardwrap;
      }
    }
  }

  ul.tab-links {
    @extend .nav;
    @extend .nav-tabs;
  }

  section#linked-data {
    @include make-row();

    section#api {
      @include make-md-column(3);
      // @extend .colouredbox;
      background: #f9f9f9;

      margin-top:20px;
      padding-top:20px;
      padding-bottom:20px;

      h3 {
        margin-top:0;
      }
      .named-graph {
        code.uri {
          font-size:14px;
        }
      }

      a.sparql-button {
        margin-top:16px;
        margin-bottom:16px;
      }
    }

    section#resource-types, section#concepts, section#classes-and-properties {

      @include make-md-column(9);

      &.third-party {
        display:none;
      }

      h3 {
        margin-top:0px;
        margin-bottom:5px;
      }

      ul {

        margin-top:20px;
        padding-top:10px;
        background: transparent url(image-path('divider.png')) repeat-x top;

        @extend .list-unstyled;
        li {
          padding-bottom:36px;
          margin-top:30px;
          background: transparent url(image-path('divider.png')) repeat-x bottom;

          .wrapper {
            @include make-row();

            .primary {
              @include make-md-column(8);
              @extend .list-unstyled;
              code.uri {
                margin-bottom:5px;
              }
            }
            .links {
              font-size:14px;
              @include make-md-column(4);
            }
          }
        }
      }
    }
  }

  section#example-data {
    font-size:16px;

    ul {
      @extend .list-unstyled;
    }

    table {
      border: 1px solid #eee;
      font-size:14px;

      @extend .table;
      // @extend .table-bordered;

      thead tr th {
        border: 0;
      }

      h3, h5 {
        margin: 2px 0;
        a {
          word-break:break-all;
        }
      }

      ul {
        @extend .list-unstyled;
        margin-bottom: 0;
        li a {
          word-break:break-all;
        }
      }

      a, h3, h4, icon {
        transition: color 0.3s;
      }

      &.lowlight tbody {
        h3, h4, a, icon {
          color: $gray-lighter;
        }
        .highlight, .highlight a {
          color: $link-color;
        }
        h4.highlight {
          color: $gray-dark;
        }
      }
    }
  }
}


code.uri {
  @include hardwrap();
  font-size:16px;
  color: #333;
  display:block;
  background: none;
  padding:0;
  white-space:normal;
}

a.sparql-button {
  @include tsb-bootstrap-btn(#fff, $data-accent-color);
  span {
    font-weight:normal;
  }
  color: #fff !important;
}