main > nav {
  .nav-container {
    @extend .container;
  }

  @extend .navbar;
  @extend .navbar-default;

  background: none;
  border: none;
  margin-bottom:0;

  ul {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;

    li {
      position: relative;

      a {
        padding: 20px;
        font-size: 18px;
        color: $gray-dark !important;
        text-align: center;
        &:hover {
          color: $accent-color !important;
        }
      }

      &.advanced {
        a {
          padding: 20px;
          padding-bottom: 10px;
          text-align: center;

          span {
            display: block;

            &.secondary {
              font-size: 12px;
              color: $data-accent-color !important;
              margin-top: -2px;
              line-height: 1;
            }
          }

          &:hover span {
            color: $data-accent-color;
          }
        }

      }

      .arrow-down {
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        margin: 0 0 0 -8px;
        border-top: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        //@extend .hidden-xs;
      }
    }

    @media (max-width: $grid-float-breakpoint) {
      float: right;
      margin: 0;

      > li {
        float: left;
        > a {
          padding: 20px;
        }

        &.advanced a {
          padding: 20px;
          padding-bottom: 10px;
        }
      }
    }

  }

}
