@mixin hardwrap() {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

@mixin constrain() {
  width:70%;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin tsb-button($color, $background) {
  @include transition(background, 0.1s);
  @include border-radius(0);

  background: $background;
  color: $color;
  text-align: center;
  display:block;
  font-weight:bold;
  padding: 4% 5%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;

  &:hover, &:active {
    text-decoration:none;
    border: 0;
    outline :0;
  }

  &:hover {
    background: lighten($background, 5%);
  }
  &:active {
    background: darken($background, 5%);
  }

}

@mixin tsb-bootstrap-btn($color, $background) {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  @include button-variant($color, $background, $background);
  font-size:16px;
  font-weight:bold;
}

@mixin read-more-content {
  position: relative;
  height: 102px;
  min-height: 102px;
  overflow: hidden;

  .read-more-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent url(image-path('read-more-overlay.png')) repeat-x;
    height: 50px;
  }

  &.visible {
    height: auto;

    .read-more-overlay {
      display: none;
    }
  }
}

@mixin grant-summary {

  @include make-md-column(12);

  .stacked-progress-bar-cost {
    position: relative;
    height: 30px;
    background: #ddd;
    overflow: hidden;
    width: 100%;
    margin: 6px 0;
    padding: 0;

    .stacked-progress-bar-grant {
      height: 100%;
      background: $light-accent-color;

      .stacked-progress-bar-payments {
        height: 100%;
        background: $accent-color;
      }
    }
  }

  .grant-figures {
    > div {
      @include make-md-column(3);
      padding-left: 0;

      @include grant-figure();
      font-size: 24px;

      &.payments-figure {
        color: $accent-color;
      }

      &.grant-figure {
        color: $light-accent-color;
      }

      &.cost-figure {
        color: $grey-label;
      }

      .pence {
        padding-top: 12px;
      }

      .fixed {
        @include clearfix();
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@mixin grant-figure {
  font-size: 20px;
  @include clearfix();

  .pounds, .pence {
    float: left;
  }

  .pounds {
    font-weight: bold;
    //letter-spacing: -1px;
  }

  .pence {
    font-size: 14px;
    margin-left: 1px;
    padding-top: 8px;
  }
}

