@mixin hardwrap() {
  word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none;hyphens: none;
}

@mixin constrain() {
  width:70%;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin tsb-button($color, $background) {
  @include transition(background, 0.1s);
  @include border-radius(0);

  background: $background;
  color: $color;
  text-align: center;
  display:block;
  font-weight:bold;
  padding: 4% 5%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;

  &:hover, &:active {
    text-decoration:none;
    border: 0;
    outline :0;
  }

  &:hover {
    background: lighten($background, 5%);
  }
  &:active {
    background: darken($background, 5%);
  }

}


@mixin tsb-bootstrap-btn($color, $background) {
  @extend .btn;
  @include button-variant($color, $background, $background);
  @include border-radius(0);
}

@mixin read-more-content {
  position: relative;
  height: 102px;
  min-height: 102px;
  overflow: hidden;

  .read-more-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent url(image-path('read-more-overlay.png')) repeat-x;
    height: 50px;
  }

  &.visible {
    height: auto;

    .read-more-overlay {
      display: none;
    }
  }
}
