#projects-page {

  h3 { font-weight:bold }

  @include make-row();

  #search {
    @include make-md-column(3);
    font-size:16px;

    input[type="submit"] {
      display:none; // only shown in noscript mode.
      margin-top:10px;
      margin-bottom:10px;
      @extend .btn;
      @extend .btn-primary;
    }

    div.ui-slider-range {
      background: #0099cc;
    }

    a.ui-slider-handle {
      &.ui-state-hover, &.ui-state-focus {
        border: 1px solid #bbb;
        background: #eee;
      }
    }

    .search-string, .filter, .facet {
      padding-top:5px;
      border-bottom: 1px solid #ddd;
      .reset {
        float:right;
        font-size:14px;
      }
    }

    .search-string {
      label {
        width:100%;
        input {
          @extend .form-control;
          width:100%;
        }
      }
      padding-bottom:20px;
    }

    #filters {
      .text-fields {
        display:none;
        input {
          @extend .form-control;
        }
      }

      .slider {
        margin:10px auto;
        width: 90%;
      }

      .value-desc {
        text-align:center;
        font-size:14px;
        margin-bottom: 20px;
      }

    }

    #facets {
      .facet {

        .facet-term {
          font-size:14px;
          @extend .checkbox
        }
      }
    }
  }

  #results {
    @include make-md-column(8);
    @include make-md-column-offset(1);

    #results-summary {
      margin-bottom: 18px;

      > div {
        @include make-row();
        background: #eee;

        > div {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }

      #results-summary-header {

      }

      #results-summary-count {
        @include make-md-column(12);
        padding-top: 15px;
        font-size: 24px;

        span {
          font-weight: bold;
        }
      }

      #results-summary-figures {

        > div {
          @include make-md-column(4);

          > div:first-child {
            color: #888;
            font-size: 16px;
          }

          .figure {
            font-size: 28px;
            @include clearfix();

            .pounds, .pence {
              float: left;
            }

            .pounds {
              font-weight: bold;
              letter-spacing: -1px;
            }

            .pence {
              font-size: 16px;
              margin-left: 1px;
              padding-top: 13px;

              @media (max-width:1199px) {
                display:none;
              }
            }

          }
        }
      }

      #results-summary-progress {
        #results-summary-progress-bar {
          @include make-md-column(12);

          .prog-bar-background {
            position: relative;
            height: 18px;
            background: #ddd;
            width: 100%;

            .prog-bar-fill {
              height: 18px;
              background: $accent-color;
            }
          }
        }
      }

      #results-summary-total-cost {
        > div {
          @include make-md-column(12);
          padding-bottom: 15px;
          color: #888;

          span {
            font-weight: bold;
          }
        }
      }
    }

    #no-results {

      @include make-row();

      #no-results-message {
        @include make-md-column(12);
        padding: 15px;

        h3 {
          margin: 0 0 18px;
        }

        p {
          font-size: 16px;
        }
      }

    }

    #results-header {
      padding-bottom: 18px;
      @include make-row();
      font-size: 16px;

      select {
        margin-right:6px;
      }

      #results-range {
        @extend .container;
        margin-bottom:10px;
        span {
          font-weight: bold;
        }
      }

      #results-sort {
        @extend .container;
      }

    }

    ul#results-list {
      @extend .list-unstyled;

      background: transparent url(image-path('divider.png')) repeat-x top;

      li {
        padding: 30px 0 36px;
        background: transparent url(image-path('divider.png')) repeat-x bottom;

        > div {
          @include make-row();

          > div {
            padding-top: 6px;
            padding-bottom: 6px;
          }
        }

        .result-header {

          .result-name {
            @include make-md-column(9);

            a {
              font-size: 24px;
              font-weight: bold;
              line-height: 1.1;
            }
          }

          .result-status {
            @include make-md-column(3);

            .result-status-label {
              background: #ccc;
              color: #fff;
              padding: 6px 0;
              text-align: center;
              text-transform: uppercase;
              font-size: 14px;
              //@include border-radius(3px);
              display: inline-block;
              letter-spacing: 1px;
              font-weight: bold;
              width: 100%;

              &.result-status-live {
                background: #64ab62;
              }

              &.result-status-closed {
                background: #e54b3f;
              }

              &.result-status-final-claim {
                background: #f09034;
              }

              span {
                opacity: 0.8;
              }
            }
          }
        }

        .result-intro {
          .result-description {
            @include make-md-column(12);
            font-size: 16px;
          }
        }

        .result-grant-and-duration {
          .grant {
            @include make-md-column(3);
          }

          .duration {
            @include make-md-column(9);
            .project-start-date, .project-end-date {
              display: inline-block;
              font-size: 16px;
            }
          }
        }

        .lbl {
          color: #888;
          font-size: 16px;
        }

        .result-participants {
          @include make-row();
          .result-participants-links {
            font-size: 20px;
            color: #888;
            @include make-md-column(12);

            a:first-child {
              font-weight: bold;
            }
          }
        }

        .figure {
          @include grant-figure();

        }

      }
    }

    .pagination {
      width: 100%;
      text-align: center;

      a, span.current, span.gap {
        padding: 6px 9px;
      }
    }
  }

}

