#projects-page {
  @include make-row();

  #search {
    @include make-md-column(3);
    font-size:16px;

    form#faceted-search {
      input[type='submit'] {
        display:none; // only shown in noscript mode.
        margin-top:10px;
        margin-bottom:10px;
        @extend .btn;
        @extend .btn-primary;
      }
    }

    div.ui-slider-range {
      background: #0099cc;
    }

    a.ui-slider-handle {
      &.ui-state-hover, &.ui-state-focus {
        border: 1px solid #bbb;
        background: #eee;
      }
    }

    .search-string, .filter, .facet {
      padding-top:5px;
      border-bottom: 1px solid #ddd;
      .reset {
        float:right;
        font-size:14px;
      }
    }

    .search-string {
      label {
        width:100%;
        input {
          @extend .form-control;
          width:100%;
        }
      }
      padding-bottom:20px;
    }

    #filters {
      .text-fields {
        display:none;
        input {
          @extend .form-control;
        }
      }

      .slider {
        margin:10px auto;
        width: 90%;
      }

      .value-desc {
        text-align:center;
        font-size:14px;
        margin-bottom: 20px;
      }

    }

    #facets {
      .facet {

        .facet-term {
          font-size:14px;
          @extend .checkbox
        }
      }
    }
  }

  #results {
    @include make-md-column(8);
    @include make-md-column-offset(1);

    #results-summary {
      margin-bottom: 18px;

      > div {
        @include make-row();
        background: #eee;

        > div {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }

      #results-summary-header {

      }

      #results-summary-count {
        @include make-md-column(12);
        padding-top: 15px;
        font-size: 24px;

        span {
          font-weight: bold;
        }
      }

      #results-summary-figures {

        > div {
          @include make-md-column(4);

          > div:first-child {
            color: #888;
            font-size: 16px;
          }

          .figure {
            font-size: 28px;
            @include clearfix();

            .pounds, .pence {
              float: left;
            }

            .pounds {
              font-weight: bold;
              letter-spacing: -1px;
            }

            .pence {
              font-size: 16px;
              margin-left: 1px;
              padding-top: 13px;
            }

          }
        }
      }

      #results-summary-progress {
        #results-summary-progress-bar {
          @include make-md-column(12);

          .prog-bar-background {
            position: relative;
            height: 18px;
            background: #ddd;
            width: 100%;

            .prog-bar-fill {
              height: 18px;
              background: $accent-color;
            }
          }
        }
      }

      #results-summary-total-cost {
        > div {
          @include make-md-column(12);
          padding-bottom: 15px;
          color: #888;

          span {
            font-weight: bold;
          }
        }
      }
    }

    #no-results {

      @include make-row();

      #no-results-message {
        @include make-md-column(12);
        padding: 15px;

        h3 {
          margin: 0 0 18px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }
      }

    }

    #results-header {
      padding: 18px 0;
      @include make-row();
      font-size: 16px;

      #results-header-position {
        @include make-md-column(6);

        span {
          font-weight: bold;
        }
      }
    }

    ul#results-list {
      list-style-type: none;
      padding: 0;

      background: transparent url(image-path('divider.png')) repeat-x top;

      li {
        padding: 30px 0 36px;
        background: transparent url(image-path('divider.png')) repeat-x bottom;

        > div {
          @include make-row();

          > div {
            padding-top: 6px;
            padding-bottom: 6px;
          }
        }

        .result-header {

          .result-name {
            @include make-md-column(9);

            a {
              font-size: 24px;
              font-weight: bold;
            }
          }

          .result-status {
            @include make-md-column(3);

            .result-status-label {
              background: #ccc;
              color: #fff;
              padding: 6px 0;
              text-align: center;
              text-transform: uppercase;
              font-size: 14px;
              //@include border-radius(3px);
              display: inline-block;
              letter-spacing: 1px;
              font-weight: bold;
              width: 100%;

              &.result-status-live {
                background: #64ab62;
              }

              &.result-status-closed {
                background: #e54b3f;
              }

              &.result-status-final-claim {
                background: #f09034;
              }

              span {
                opacity: 0.8;
              }
            }
          }
        }

        .result-intro {
          .result-description {
            @include make-md-column(12);
            font-size: 16px;
          }
        }



        .result-grant-and-duration {
          .grant {
            @include make-md-column(3);
          }

          .duration {
            @include make-md-column(9);
            #project-start-date, #project-end-date {
              display: inline-block;
              font-size: 16px;
            }
          }
        }

        .lbl {
          color: #888;
          font-size: 16px;
        }




        .result-participants {
          @include make-row();
          .result-participants-links {
            font-size: 20px;
            color: #888;
            @include make-md-column(12);

            a:first-child {
              font-weight: bold;
            }
          }
        }

        .figure {
          font-size: 20px;
          @include clearfix();

          .pounds, .pence {
            float: left;
          }

          .pounds {
            font-weight: bold;
            //letter-spacing: -1px;
          }

          .pence {
            font-size: 14px;
            margin-left: 1px;
            padding-top: 8px;
          }

        }

      }
    }

    .pagination {
      width: 100%;
      text-align: center;

      a, span.current, span.gap {
        padding: 6px 9px;
      }
    }
  }

}

#project-page {

  @include make-row();

  #project-main {
    @include make-md-column(9);
    @extend .container;

    section {
      padding: 18px 0 24px;
      background: transparent url(image-path('divider.png')) repeat-x bottom;

      h3 {
        margin: 20px 0;
        font-weight: bold;
      }

      > div {
        @include make-row();

        > div {
          @include make-md-column(3);
          padding-top: 18px;
          padding-bottom: 18px;

          > div:first-child {
            color: #888;
            font-size: 16px;
          }
        }
      }
    }

    #project-about-primary {
      #project-number {
        @include make-md-column(6);
      }

      #project-start-date {
        display: inline-block;
      }

      #project-status-label {
        background: #ccc;
        color: #fff;
        padding: 6px 18px;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        //@include border-radius(3px);
        display: inline-block;
        letter-spacing: 1px;
        font-weight: bold;

        &.project-status-live {
          background: #64ab62;
        }

        &.project-status-closed {
          background: #e54b3f;
        }

        &.project-status-final-claim {
          background: #f09034;
        }

        span {
          opacity: 0.8;
        }
      }
    }

    #project-about-secondary {
      > div {
        @include make-md-column(6);
      }
    }

    #project-about-tertiary {
      > div {
        @include make-md-column(12);
      }
    }

    #project-grant-summary {
      > div {
        > div {
          @include make-md-column(6);
        }
      }
    }

    #map-container {
      width: 100%;
      height: 480px;
      @include make-row();

      #map {
        @include make-md-column(12);
        height: 100%;

        #map-canvas {
          width: 100%;
          height: 100%;

          .leaflet-popup-content {
            p {
              margin: 0;
              line-height: 1.3;

              &.name {
                margin-bottom: 6px;
              }

              &.address {
                color: #888;
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    ul#project-participants-list {
      list-style-type: none;
      padding: 0;

      li {
        padding: 18px 0;
        border-bottom: 2px solid #eee;

        &:last-child {
          border-bottom: 0;
        }

        > div {
          @include make-row();

          > div {
            @include make-md-column(3);
            padding-top: 18px;
            padding-bottom: 18px;

            > div:first-child {
              color: #888;
              font-size: 16px;
            }
          }
        }

        .project-participant-name {
          @include make-md-column(12);
          padding-bottom: 0;

          a {
            font-size: 24px;
            font-weight: bold;
          }
        }

        .project-participant-grant {
          > div {
            @include make-md-column(6);
          }
        }
      }
    }

    .project-grant-details {
      .fixed {
        font-size: 28px;
        @include clearfix();
        margin-bottom: 6px;

        .pounds, .pence {
          float: left;
        }

        .pence {
          font-size: 16px;
          margin-left: 1px;
          padding-top: 13px;
        }

      }

      .prog-bar {
        margin-bottom: 6px;

        .prog-bar-background {
          position: relative;
          height: 16px;
          background: #ddd;
          width: 80%;
          overflow: hidden;

          .prog-bar-fill {
            height: 16px;
            background: $accent-color;
          }
        }
      }

      .percent {
        color: #888;
        font-size: 16px;

        span {
          font-weight: bold;
        }
      }

    }

  }

}