.grant-summary {
  @include make-md-column(12);
}

.grant-figures {
  @include make-md-column(12);
  padding: 0;
}


.grant-summary {
  @include make-md-column(12);

  .stacked-progress-bar-cost {
    position: relative;
    height: 30px;
    background: #ddd;
    overflow: hidden;
    width: 100%;
    margin: 6px 0;
    padding: 0;

    .stacked-progress-bar-grant {
      height: 100%;
      background: $light-accent-color;

      .stacked-progress-bar-payments {
        height: 100%;
        background: $accent-color;
      }
    }
  }

  .grant-figures {
    > div {
      @include make-md-column(3);
      padding-left: 0;

      @include grant-figure();
      font-size: 24px;

      &.payments-figure {
        color: $accent-color;
      }

      &.grant-figure {
        color: $light-accent-color;
      }

      &.cost-figure {
        color: $grey-label;
      }

      .pence {
        padding-top: 12px;
      }

      .fixed {
        @include clearfix();
      }

      p {
        font-size: 14px;
      }
    }
  }
}

