header #titlebar {
  background: #0099CC;
  color: #fff;

  .titlebar-container {

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:20px;

    @extend .container;

    .titlebar-row {

      @include make-row();

      .contents {
        @include make-md-column(12);
      }

      h1 {
        margin: 0;
        padding: 0;
        font-size: 36px;
        letter-spacing: -1px;
      }
      h3 {
        margin: 0; padding: 0;
        font-weight: lighter;
      }

      a {
        text-decoration:underline;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }

  }

}

body.advanced  #titlebar {
  background: $data-header-color;
}