$accent-color: #0099CC;

$global-header-bg-color: #1b1b1b;
$global-header-color: white;

$global-footer-bg-color: #1b1b1b;;
$global-footer-color: #eee;

$header-color: $accent-color;

$gray-medium-light: lighten(#000, 80%);

$grey-label: lighten(#000, 66%);

// uncomment for sticky footer
// $global-footer-height: 60px;