$accent-color: #7bbfbb;

$global-header-bg-color: #6a3f77;
$global-header-color: white;

$global-footer-bg-color: #1b1b1b;;
$global-footer-color: #eee;

$header-color: $accent-color;

$gray-medium-light: lighten(#000, 80%);

// uncomment for sticky footer
// $global-footer-height: 60px;