%ul#project-participants-list
  - if project.leader
    = render "projects/show/participant_list_item", project: project, participant: project.leader

  - project.participants.sort{ |a, b| project.offer_cost_sum_for_organization(b) <=> project.offer_cost_sum_for_organization(a) }.each do |participant|
    - if project.leader.uri != participant.uri
      = render "projects/show/participant_list_item", project: project, participant: participant