%li
  .project-participant-header
    .project-participant-name
      %div
        - if participant.uri == project.leader.uri
          Lead organisation
        - else
          Participant organisation
      %div
        = link_to resource_path_from_uri(participant.uri) do
          = participant.label

  / .project-participant-grant.project-grant-details

  /   .project-participant-offer-grant
  /     %div Grant
  /     = render "projects/show/grant/offer_grant", offer_grant: project.offer_grant_sum_for_organization(participant), offer_cost: project.offer_cost_sum_for_organization(participant)
      
  /   .project-participant-payments
  /     %div Payments to date
  /     = render "projects/show/grant/payments_to_date", payments_to_date: project.payments_to_date_sum_for_organization(participant), offer_grant: project.offer_grant_sum_for_organization(participant)

  .project-participant-main
    .project-participant-grant-summary
      %div Grant summary
      // #{((offer_grant.to_f / offer_cost) * 100).round}%
      .stacked-progress-bar-cost{ style: "width: #{ ((project.offer_cost_sum_for_organization(participant).to_f / project.max_offer_cost) * 100).round(3) }%;" }
        .stacked-progress-bar-grant{ style: "width: 50%;" }
