%ul#project-participants-list
  - if project.leader
    = render "projects/show/participant_list_item", project: project, participant: project.leader

  - project.ordered_participants.each do |participant|
    - max_offer_cost = project.offer_cost_sum_for_organization(participant) unless max_offer_cost
    - if !project.leader || project.leader.uri != participant.uri
      = render "projects/show/participant_list_item", project: project, participant: participant