.advanced-resource-details
  .intro
    .primary

      %h3 URI
      %code.uri.click-to-select= resource.uri

      - if resource.respond_to? :dataset
        %h3 In Dataset
        = link_to resource.dataset.label, dataset_path(resource.dataset)

    .secondary
      %a.sparql-button(href="/sparql")
        %span.glyphicon.glyphicon-chevron-right
        Run a SPARQL Query

  .resource-data
    = render 'publish_my_data/resources/resource_data', resource: resource
