%footer
  .container
    #footer-header
      #footer-logos
        .footer-logo.footer-logo-odi
          = link_to image_tag('odi-logo.png'), 'http://www.theodi.org'
        .footer-logo.footer-logo-swirrl
          = link_to image_tag('swirrl-logo.png'), 'http://www.swirrl.com/publishmydata'
        .footer-logo.footer-logo-variable
          = link_to image_tag('variable-logo.png'), 'http://variable.io'

    #footer-info
      #footer-links
        %p
          %a{ href: 'http://theodi.org/privacy-policy' } Privacy Policy
          \|
          %a{ href: 'http://theodi.org/cookie-policy' } Cookies
          \|
          %a{ href: '/docs' } Developer Docs

        %p
          &copy; 2013 <a href='http://www.theodi.org'>The Open Data Institute</a>. Built by <a href="http://www.swirrl.com">Swirrl</a> and <a href="http://variable.io">Variable</a>.

        :markdown
          Powered by [PublishMyData](http://www.swirrl.com/publishmydata) Community Edition v#{Gem.loaded_specs["publish_my_data"].version}

      #footer-cert
        <script src='https://certificates.theodi.org/datasets/640/certificates/12714/badge.js'></script>