%nav
  %ul
    %li
      %a{href:'/about'} About
      - if @current_nav_tab == 'about'
        .arrow-down

    %li
      %a{href:'/projects'} Browse
      - if @current_nav_tab == 'browse'
        .arrow-down

    %li
      %a{href:"/data/#{TsbProjectData::DATASET_SLUG}"} Linked Data (Advanced)
      - if @current_nav_tab == 'ld'
        .arrow-down