%nav
  %ul
    %li
      %a{href:'/about'} About
      - if controller_name == 'home' && action_name == 'about'
        .arrow-down

    %li
      %a{href:'/projects'} Browse
      - if ['projects', 'resources'].include? controller_name
        .arrow-down

    %li.advanced
      %a{href:"/data"}
        %span.primary Linked Data
        %span.secondary Advanced users
      - if ['information_resources', 'datasets'].include? controller_name
        .arrow-down