- content_for :header do
  .contents
    %h3
      Error 404:
    %h1
      Not Found

#error-page
  %p
    There might be a mistake in the URL which means our application can't respond to it, or it might be that you have asked about a valid identifier, but there isn't any information in our database about it.