- content_for :header do
  .contents
    %h3
      Error 503:
    %h1
      Timeout

#error-page
  %p
    Sorry, your request timed-out. We may be experiencing unusually high load. You can try again later, or if you've submitted a custom query, consider writing a query designed to return fewer triples.